doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LUNAFOX!!('s secret blog!)
        link(rel="stylesheet", href="/src/lunafox.scss")
    body
        header 
            nav 
                ul
                    li
                        a(href="/") H0m3!
                    :posts

        main
            block content