extends /templates/base.pug

block title
    title LUNAFOX!!('s secret blog!)

block content
    article(id=date)
        h4 -----BEGIN OSS ENCRYPTED TRANSMISSION-----
        h5 TRANSMISSION DATE: #{date}
            
        block post
        h4 -----END OSS ENCRYPTED TRANSMISSION-----
