@font-face {
    font-family: "League Spartan";
    src: url("../fonts/LeagueSpartan/LeagueSpartan-Regular.woff2")format("woff2");
}

@font-face {
    font-family: "Anthony";
    src: url("../fonts/Anthony/Anthony.woff2")format("woff2");
}
