mixin message(date)
    article.message(id=date)
        .close X
        h4.info -----BEGIN OSS ENCRYPTED TRANSMISSION-----
        h5.info TRANSMISSION DATE: #{date}
        block
        h4.info -----END OSS ENCRYPTED TRANSMISSION-----
        
- let messages = ["05-Octo-793PT", "22-Sena-793PT"]


doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title LUNAFOX!!
        link(rel="stylesheet", href="/src/lunafox.scss")
    body
        header 
            section#music(data-songs=songs)
                button#prev &lt;
                
                button#play play

                button#nowPlaying
                    span Now playing:
                    span#songNameContainer
                        span#songName

                .range 
                    input#volume(type="range" value=10)
                button#next &gt;

            hr

            h1#title Lunaf0x'''s Dataspherespace!
            p It's still a bit empty (sorry) but I'm planning on adding more !
            p Either way, enjoy your stay Foxies &lt;3

        main
            h2.typewriter.auto Loading incoming messages...

            section#messageSelect
                each val, i in messages
                    button(value=val)= val

        
        +message(messages[0])
            include:markdown-it posts/05-Octo-793PT-10-06-2023.md 


        +message(messages[1])
            include:markdown-it posts/22-Sena-793PT-XX-XX-2023.md 
            
        script(src="messages.js" type="module")
        script(src="music.js" type="module") 