$background: #1D0042;
$primary: #6C1E99;
$secondary: #1D0042;
$tertiary: #C589E8;
$quaternary: #120B02;
//#750979

$color: white;

@font-face {
    font-family: "League Spartan";
    src: url("../fonts/LeagueSpartan/LeagueSpartan-Regular.woff2")format("woff2");
}

@font-face {
    font-family: "Anthony";
    src: url("../fonts/Anthony/Anthony.woff2")format("woff2");
}


html, body {
    margin: 0;
    padding: 0;
    font-family: 'League Spartan', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
}

header {
    font-size: larger;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Anthony', 'Courier New', Courier, monospace;
}

a {
    &:link {
        color: $color;
    }

    &:visited {
        color: $color;
    }

    &:hover {
        color: $tertiary;
    }

    &:active {
        color: $color;
    }

}

hr {
    border-color: $background;
}

button, .range {
    color: white;
    padding: 12px;

    border: none;
    outline: 2px $primary groove;
    outline-offset: -5px;

    cursor: pointer;

    background-color: $background;

    input[type=range] {
        width: 90%;
    }
}

.range {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: $background;
    background-image: url("../assets/background.gif");
}

header, main {
    
    width: 80%;
    margin: auto;

    text-align: center;
}

body > * {
    box-sizing: border-box;

    margin-bottom: 20px;
    padding: 20px calc(20px + 15px);
    
    color: $color;
    background-color: $primary;

    outline-style: groove;
    outline-width: 4px;
    outline-color: $background;
    outline-offset: -15px;
}

#music {
    width: 100%;
    display: grid; 
    grid-template-columns: 10% 30% 50% 10%; 
}

#messages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    transition: all 2s;
    button {
        transition: all 2s;
        width: 0;
        flex-grow: 1;
    }
}

.message {
    display: none;
    /*display: none;
    opacity: 0;
    transition: opacity 2s;*/
}

